:root{
    --f7-theme-color:#1f2803;
    --f7-navbar-bg-color:#1f2803;
    --f7-navbar-text-color:#fff;
    --f7-navbar-link-color:#fff;
    --f7-bars-bg-color:#fff;
    --f7-block-margin-vertical:20px;
    --f7-card-footer-border-color:transparent;

    --f7-button-bg-color: #1f2803;

}

@font-face {
    font-family: 'Gangithem'; 
    src: url('./Gangitem-Regular\ 400\ \(1\).otf');
}

@font-face {
    font-family: 'Altone'; 
    src: url('./Altone\ Trial\ Regular\ 400\ \(1\).ttf');
}

h3{
    font-family: 'Altone' ;
}

h1{
    font-family: 'Gangithem';
}

.input-contacto{
    margin: 5px;
    width: 80%;
    border-radius: 5px;
}

.div-contactanos{
    background-color: #1f2803;
    border-radius: 10px;
}

.btn{
    background-color: #fff;
    border: none;
}